<p>What is your 4-color sequence for code? Pick your sequence of 4 colors, each color separated by a comma. Type 'R' for Red, 'G' for Green, 'B' for Blue, 'Y' for Yellow, 'P' for Purple, 'V' for Violet. For example: R, B, G, Y:</p>
<form method="POST" action="/game" >
	<input type="text" name="code" />
	<input type="submit" value="Submit!" />
</form>