<div>
	<h1>WELCOME TO THE MASTER MIND!</h1>
	<p>=============================================================</p>
	<p>Master Mind is a game in which you choose to be either the coder or the guesser. If you choose to be the coder, you will make a color code and the computer will try to crack it by the feedbacks you will give to it. If you choose to be the guesser, the computer will make a color code and you will try to crack it by the feedbacks it will give to you. Good luck and have fun!</p>
	<p>=============================================================</p>
</div>
<form method="POST" action="/name" >
	<input type="submit" value="START!" />
</form>