<p class="title" >Choose Your Role:</p>
<form id="name" method="POST" action="/coder" >
	<input type="submit" value="Coder" />
</form>
<form id="name" method="POST" action="/guesser" >
	<input type="submit" value="Guesser" />
</form>