body {
	font-family: Georgia;
	color: linen;
	background: transparent url(/images/mastermind2.png) no-repeat 80% 80% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	-webkit-background-size: cover;
}

p, h1, form, input {
	text-align: center;
}

h1 {
	margin-top: 15px;
}

div {
	width: 800px;
	margin: auto;
	text-align: justify;
}

form {
	margin-top: 100px;
	width: 400px;
	margin: auto;
}

label {
	margin-top: 15px;
}

input {
	width: 100px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background: gainsboro;
	display: block;
}

a {
	color: seagreen;
	text-decoration: none;
}

span {
	border: 2px dotted rosybrown;
	background: slategray;
	font-weight: bold;
}

.word {
	font-size: 25px;
}

.title {
	font-weight: bold;
}

#sign {
	font-weight: bold;
	width: 100px;
	background: slategray;
	border: 2px dotted rosybrown;
}

#list {
	background: slategray;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#feedback {
	width: 200px;
	background: slategray;
}

#note {
	width: 350px;
	border: 1px solid linen;
	margin-top: 200px;
}

#note p {
	margin: 0px;
	padding: 0px;
}